<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Ecommerce-website</h1>
            <p class="lead text-body-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, excepturi. Deleniti distinctio quam architecto voluptatem ipsum optio aperiam! Officiis enim, vitae perferendis praesentium totam iste tempora quod nemo sunt impedit. </p>
            <p>
                <a routerLink="/seller-product" class="btn btn-primary my-2">Product section</a>&nbsp; &nbsp;
                    <a routerLink="/sign-up" class="btn btn-secondary my-2">Register</a>
            </p>
        </div>
    </div>
</section>